body {
    background-color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
}

.section {
    position: fixed;
    padding-left: 100px;
    width: 90%;
    background-color: #ccc;
    border-radius: 100px;
}


/*---------------------------------------------بتاعت الليست اللى بتظهر -----------------------------*/

.submenu {
    width: 20%;
    display: none;
    position: absolute;
    background-color: gray;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
}

.submenu li {
    text-align: left;
    display: contents;
}

li:hover .submenu {
    display: block;
}


/*---------------------------------------------------------------------------------------*/

ul {
    padding-left: 200px;
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
}

li a {
    padding: 20px;
    display: block;
    width: 60px;
    border-radius: 100px;
    color: black;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}

.pic1 .pic2 .pic3 .pic4 .pic5 .pic6 .pic {
    height: 200px;
    width: 250px;
}

.product {
    margin: 30px 5px 5px 5px;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    width: 20%;
    height: 320px;
}

.product1 {
    margin: 10px 20px 30px 20px;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 20%;
    height: 260px;
}

.product2 {
    margin: 10px 20px 30px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 20%;
    height: 430px;
}

.product3 {
    margin: 10px 20px 30px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 20%;
    height: 400px;
}

.product4 {
    margin: 10px 20px 30px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 20%;
    height: 400px;
}

.product5 {
    margin: 10px 20px 30px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 20%;
    height: 400px;
}

.product6 {
    margin: 10px 20px 30px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 20%;
    height: 400px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.contenr {
    display: flex;
}

h1 {
    padding-left: 30px;
    font-weight: bold;
}

.section {
    border: 10px;
}

#acss {
    text-align: center;
    padding: 20px;
    background-color: #ccc;
}

.video-player {
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 100px;
    background-color: currentColor;
}

.d1 {
    padding-top: 120px;
    background-color: darkgrey;
}


/*-----------------------------------------بتاعت تسجيل الاكونت -----------------------------*/

.container {
    width: 60%;
    height: 300px;
    margin: 100px auto;
    background-image: url(R.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #2196F3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 4px;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.remember {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.remember input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.remember:hover input~.checkmark {
    background-color: #ccc;
}

.remember input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.remember input:checked~.checkmark:after {
    display: block;
}

.remember .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.forgot {
    text-decoration: none;
    color: #555;
}

.b1 {
    background-image: url(R.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 175px;
    text-align: center;
}


/*----------------------------------------------------------------------------------*/

#p-long {
    background-color: #2196F3;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    box-shadow: #2196F3;
    font-size: 15px;
}

.add-cart {
    background-color: gray;
    border-radius: 100px;
    font-size: 15px;
    width: 50px;
    color: white;
}

#iPhone-ar {
    text-align: right;
    margin-right: 50px;
}

.maps {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: silver;
    width: 96%;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-weight: bold;
    font-size: 23px;
}

.footer-column a {
    margin: 5px;
    padding: 3px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
}

.footer-column p {
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    color: black;
}

.footer-column a:hover {
    background-color: black;
    color: white;
}